<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Editing Page</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<%- include adminnav %>
	<header><h1>Edit Page</h1></header>
	<form method="POST" action = "/admin/editingpage" id=<%=page._id%>>
		<h2>Temp Title<input placeholder = <%=page.title%> type="text" name="title"> </h2>

		<p class = "contentEdit">
			Edit Text<br><textarea rows = "50" cols = "100" name="content"><%=page.content%></textarea>
		<!--	<br>Upload Media (.png, .svg, .mp3, .mp4) 
			<input type="button" value="Upload"/> -->
		</p>
		<br><h2>URL<input type="text" name="newURL" placeholder="<%=page.url%>"> </h2>
		<br><h2>Template 
			<input type="button" value="Descrip1"/>
			<input type="button" value="Descrip2"/>
			<input type="button" value="Descrip3"/>
			<input type="button" value="Descrip4"/> </h2>
		<br><input type="Submit" value="Submit"/>
	</form>
</body>
</html>